<% provide(:title) %>
<div class="row">
  <div class="movie-best">
    <div class="col-xs-12">
      <h2 class="section-title"><%= t ".new_movies" %></h2>
      <div class="section-under-title-line"></div>
    </div>
  </div>
</div>
<div class="owl-carousel new-movies-slide" style="width: 90%; margin: 0 5%;">
  <% @movies.each do |movie| %>
    <div class="movie-items">
      <img src="<%= movie.avatar.thumb.url %>" alt="<%= movie.name %>"
        title="<%= movie.name %>" class="movie-poster">
      <% if movie.new_movie? %>
        <span class="item-new-movie"></span>
      <% end %>
      <!-- css trong movies.scss -->
      <div class="movie-info-show">
        <a class="icon share"></a>
      </div>
      <span class="publish-date-new">
        <span class="date"><%= movie.realease_date.strftime("%d") %></span>
        <span class="month">/<%= movie.realease_date.strftime("%m") %></span>
      </span>
      <!-- end -->

      <% if movie.coming_soon? %>
        <span class="best-rate coming-soon">
          <img src="http://materialthingsofaiken.com/wp-content/uploads/2016/08/Coming-Soon.png">
        </span>
      <% else %>
        <span class="best-rate">
          <i class="fa fa-star-o" aria-hidden="true"></i><br>
            <%= movie.average_rate.round(1) %><br>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </span>        
      <% end %>

      <div class="caption-overlay">
        <div class="primary">
          <div class="movie-caption title-font">
            <%= link_to movie.name, movie_path(movie), data: {turbolinks: false} %>
          </div>
        </div>
        <div class="secondary ellipsis">
          <span style="color: #7d6f6f"><%= movie.director %></span> - 
          <span><%= movie.imdb %> IMDB</span>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br><br>


<div class="row">
  <div class="movie-best">
    <div class="col-xs-12">
      <h2 class="section-title"><%= t ".hot_movies" %></h2>
      <div class="section-under-title-line"></div>
    </div>
  </div>
</div>
<div class="owl-carousel top-movies-slide" style="width: 90%; margin: 0 5%;">
  <% @hot_movies.each do |movie| %>
    <div class="movie-items">
      <img src="<%= movie.avatar.thumb.url %>" alt="<%= movie.name %>"
        title="<%= movie.name %>" class="movie-poster">
      <% if movie.new_movie? %>
        <span class="item-new-movie"></span>
      <% end %>

      <!-- css trong movies.scss -->
      <div class="movie-info-show">
        <a class="icon share"></a>
        <div class="icon im-score">
          <strong><%= movie.imdb %></strong>
          <small>IMDb</small>
        </div>
      </div>

      <span class="best-rate">
        <i class="fa fa-star-o" aria-hidden="true"></i><br>
          <%= movie.average_rate.round(1) %><br>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>
      <div class="caption-overlay">
        <div class="primary title-font">
          <div class="movie-caption">
            <%= link_to movie.name, movie_path(movie), data: {turbolinks: false} %>
          </div>
        </div>
        <div class="secondary ellipsis">
          <%= movie.director %>
          <span><%= movie.imdb %> IMDB</span>
        </div>
      </div>
    </div>
  <% end %>
</div><br><br>

<div class="row">
  <div class="movie-best">
    <div class="col-xs-12">
      <h2 class="section-title"><%= t ".new_reviews" %></h2>
      <div class="section-under-title-line"></div>
      <!--< 5.times do %>-->
      <!--  <i class="fa fa-star-o" aria-hidden="true"></i>-->
      <!--< end %>-->
      <!--<h2><= t ".new_reviews" %></h2>-->
      <!--< 5.times do %>-->
      <!--  <i class="fa fa-star-o" aria-hidden="true"></i>-->
      <!--< end %>-->
    </div>
  </div>
</div>
<div class="owl-carousel reviews-slide">
  <% @reviews.each do |review| %>
    <div class="bp-block article-info">
      <div class="article-list-left cover">
        <%= link_to review_path(review), data: {turbolinks: false} do %>
          <% if review.photos.any? %>
            <img src="<%= review.photos.first.url %>" alt="<%= review.title%>">
          <% else %>
            <img src="<%= review.movie.avatar %>" alt="<%= review.movie.name%>">
          <% end %>
        <% end %>
      </div>
      <h3 class="home-review-title title-font">
        <span style="font-weight: 500">[<%= t "user.review" %>]</span>
        <%= link_to review_path(review), data: {turbolinks: false} do %>
          <%= review.movie.name %>: <%= review.title %>
        <% end %>
      </h3>
      <div class="review-author">
        <%= t "reviews.index.reviewer" %>
        <% if review.user.is_admin? %>
          <span class="admin-reviewer"><%= t "app_name" %></span>
        <% else %>
          <%= link_to review.user.name, user_path(review.user),
            data: {turbolinks: false} %>
        <% end %>
      </div>
      <span class="review-sub-info">
        <svg width="16" height="16" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
          <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
        </svg>
        <%= review.created_at.strftime("%d %b %Y") %> | 
        <span class="blockIconFacebook ng-scope">
          <div class="wrapIcon like">
            <span class="iconFacebook glyphicon glyphicon-thumbs-up"></span>
            <p class="amount like ng-binding">0</p>
          </div>
          <div class="wrapIcon comment">
            <span class="iconFacebook fa fa-comments"></span>
            <p class="amount comment ng-binding">
              <%= review.comments.count %>
            </p>
          </div>
        </span>
      </span><br>
      <span class="inline-tone-fill inline-icon review-sub-info">
        Author's rate:
        <% if author_rate(review.movie, review.user) > 0 %>
          <span class="average-rate star-rating" data-score="<%= author_rate(review.movie, review.user) %>">
            (<%= author_rate(review.movie, review.user).round(1) %>)
          </span>
        <% else %>
          <span class="star-rating"><%= t "movies.show.not_rate" %></span>
        <% end %>
      </span>
      <p class="genre-links hidden-phone">&gt;&nbsp;
        <% if review.movie.types.any? %>
          <% review.movie.types.each do |type| %>
            <%= link_to type.name, type_path(type),
              data: {turbolinks: false} %>
            <% unless type == review.movie.types.last %>/<% end %>
          <% end %>
        <% end %>
      </p>
      <div class="review-content">
        <p>
          <%= truncate_html(review.content.html_safe, length: 600) %>
        </p>
      </div>
      <div class="read-full">
        <%= link_to review_path(review), data: {turbolinks: false} do %>
          <%= t ".read_full" %>
          <span class="fa fa-angle-double-right"></span>
        <% end %>
      </div>
      <br class="clear">
    </div>
  <% end %>
</div>
