<% provide(:title, t("user.sign_up")) %>
<div class="row login-form">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4
    pmd-card pmd-card-default pmd-z-depth-1">
    <h2><%= t "user.sign_up" %></h2><hr>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="error-edit-user"><%= devise_error_messages! %></div>
      <%= link_to "/users/auth/facebook", class: "btn btn-primary login-fb",
        data: {turbolinks: false} do %>
        <%= t "devise.fb" %>
      <%- end %>
      <div class="form-group pmd-textfield">
        <%= f.label :username, class: "control-label" %><br>
        <em>(<%= t "devise.characters" %>)</em>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group pmd-textfield">
        <%= f.label :email, class: "control-label" %><br>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group pmd-textfield">
        <%= f.label :password, class: "control-label" %><br>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %><%= t "devise.minimum" %>)</em>
        <% end %><br>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group pmd-textfield">
        <%= f.label :password_confirmation, class: "control-label" %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t("user.sign_up"),
          class: "btn pmd-btn-raised pmd-ripple-effect btn-primary"%>
      </div>
    <% end %><hr>

    <div class="text-center login-link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
