<%= search_form_for support.search, remote: true, method: :get do |f| %>
  <div class="col-xs-12">
    <div class="list-movie-filter row" style="margin-bottom: 10px;">
      <div class="list-movie-filter-main">
        <div class="list-movie-filter-item-content col-xs-12 col-sm-8 col-md-4">
          <label><%= t "movies.index.search" %></label>
          <%= f.text_field :name_or_description_or_producer_or_director_or_actors_name_cont,
            class: "form-control", placeholder:  t("search.content") %>
        </div>
        <div class="list-movie-filter-item col-xs-6 col-sm-4 col-md-2">
          <label><%= t "movies.index.country" %></label>
          <%= f.select :country_id_eq, support.load_countries,
            {include_blank: t("movies.index.all")}, {class: "form-control"} %>
        </div>
        <div class="list-movie-filter-item col-xs-6 col-sm-3 col-md-2">
          <label><%= t "movies.index.type" %></label>
          <%= f.select :types_id_eq, support.load_types,
            {include_blank: t("movies.index.all")}, {class: "form-control"} %>
        </div>
        <div class="list-movie-filter-item-long col-xs-10 col-sm-7 col-md-3">
          <label><%= t "movies.index.sort" %></label>
          <%= f.sort_fields do |s| %>
            <%= s.sort_select Hash.new, class: "form-control" %>
          <% end %>
        </div>
        <div class="search-item col-xs-2 col-sm-2 col-md-1">
          <%= button_tag type: :submit, name: :commit,
            class: "btn btn-danger btn-filter-movie" do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-xs-12 col-md-9">
    <div class="title-box1">
      <h3 class="marRight1"><%= t "movies.index.all_movies" %></h3>
    </div>
    <div class="line3">
      <div class="row">
        <div class="text-center review-pagination" id="pagination">
          <%= paginate support.movies_search, remote: true %>
        </div>
        <% if support.movies_search.any? %>
          <% support.movies_search.each do |movie| %>
            <div class="col-sm-4 col-md-3 col-xs-6 img2">
              <%= render partial: "movie", locals: {movie: movie} %>
            </div>
          <% end %>
        <% else %>
          <h3><%= t("search.no_result") + "'#{params[:q][:name_or_description_or_producer_or_director_or_actors_name_cont]}'." %></h3>
        <% end %>
      </div>
      <div class="text-center review-pagination" id="pagination">
        <%= paginate support.movies_search, remote: true %>
      </div>
    </div>
  </div>
<% end %>
