<% provide(:title, t("user.movies")) %>
<div class="row movies-list">
  <ul class="breadcrumb">
    <li><%= link_to t("user.home"), root_path, data: {turbolinks: false} %></li>
    <li class="active"><%= link_to t("user.movies"), movies_path, data: {turbolinks: false} %></li>
  </ul>

  <div id="movies">
    <%= render "movies", support: @support %>
  </div>

  <div class="col-sm-3 hidden-xs type-list">
    <div class="title-box1 v2">
      <h3><%= t ".genre" %></h3>
    </div>
    <ul class="listWithMarker">
      <% @support.types.each do |type| %>
        <li>
          <div class="list_inside inside_1">
            <%= link_to t(type.name), type_path(type), data: {turbolinks: false} %>
            <span class="badge badge-primary"><%= type.count_movies %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
