<% reviews.each do |review| %>
  <div class="toggle-overflow item">
    <div class="image">
      <%= link_to review_path(review) do %>
        <img src="<%= review.movie.try :avatar %>">
      <% end %>
    </div>
    <h3>
      <%= link_to review_path(review) do %>
        <%= review.movie.name %>
      <% end %> 
      <span>(<%= review.movie.realease_date.strftime("%Y") %>)</span>
    </h3>
    <h4><%= review.title %></h4>
    <div class="details"><%= review.created_at.strftime("%d %b %Y") %></div>
    <div class="more">
      <%= review.content.html_safe %>
    </div>
  </div>
<% end %>
