<div class="toggle-overflow item">
  <div class="image col-sm-4 col-md-3">
    <div class="row">
      <%= link_to user_review_path(review.user, review),
        data: {turbolinks: false} do %>
        <% if review.photos.any? %>
          <%= image_tag review.photos.first.url %>
        <% else %>
          <%= image_tag review.movie.avatar %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="content col-sm-8 col-md-9">
    <h3 class="title-font user-review-title">
      <%= link_to review_path(review), data: {turbolinks: false} do %>
        <%= review.movie.name %>
        <span class="movie-year">
          (<%= review.movie.realease_date.strftime("%Y") %>):
        </span>
        <%= review.title %>
      <% end %>
    </h3>
    <div class="details">
      <span>
        <%= t "reviews.index.reviewer" %>
        <%= link_to review.user.name, user_path(review.user),
          data: {turbolinks: false} %>&emsp;|&emsp;
      </span>
      <span class="glyphicon glyphicon-time"></span>
      <span title="<%= review.created_at.to_s %>">
        <%= review.created_at.strftime("%d %b %Y") %>
      </span>&emsp;|&emsp;
      <span class="fa fa-comments fa-md"></span>
      <%= review.comments.count %>&emsp;|&emsp;
      <span class="glyphicon glyphicon-thumbs-up"></span>&emsp;
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </div>
    <p class="row more"><%= review.content.html_safe %></p>
  </div>
</div>
