<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
  <div class="profile-sidebar text-center">
    <div class="profile-user-avatar">
      <%= image_tag user.avatar, class: "img-responsive" %>
    </div>
    <div class="profile-user-title">
      <div class="profile-user-name">
        <%= user.name %>
      </div>
      <div class="profile-user-username">
        <%= user.username %>
      </div>
      <%= t "user.member" %><%= user.created_at.strftime("%b %Y") %><br>
    </div>
    <% if user_signed_in? && user.id == current_user.id %>
      <div class="text-center profile-buttons">
        <%= link_to t("user.edit"), edit_user_registration_path, method: :get,
          class: "btn btn-primary btn-sm", "data-turbolinks": false %>
      </div>
    <% end %>
    <div class="profile-user-menu">
      <ul class="nav">
        <li class="filter">
          <%= link_to user_path(user), "data-turbolinks": false do %>
            <i class="glyphicon glyphicon-home"></i> <%= t "Overview" %>
          <% end %>
        </li>
        <li class="filter" data-trigger=".review-part">
          <%= link_to user_all_reviews_path(user), "data-turbolinks": false do %>
            <i class="glyphicon glyphicon-list-alt"></i> <%= t "user.review" %>
          <% end %>
        </li>
        <li class="filter" data-trigger=".bookmark-part">
          <%= link_to user_path(user, type: "bookmark"), remote: true,
            "data-turbolinks": false do %>
            <i class="glyphicon glyphicon-heart"></i> <%= t "user.favorites" %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="glyphicon glyphicon-flag"></i> <%= t "user.histories" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
