<% provide(:title, @user.username) %>
<div class="row profile">
  <%= render "user_profile", user: @user %>
  <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9">
    <div class="profile-content">
      <div class="widget article userLists list-all-reviews" data-turbolinks="false">
        <h2 class="text-left"><%= t "user.reviews" %></h2><hr>
        <div id="list-reviews">
          <div class="text-right bootstrap-pagination">
            <%= paginate @reviews, theme: "twitter-bootstrap-3" %>
          </div>
          <div class="reviews">
            <% if @reviews.any? %>
              <% @reviews.each do |review| %>
                <%= render partial: "review", locals: {review: review} %>
                <div class="edit-review text-right">
                  <% if user_signed_in? && @user.id == current_user.id %>
                    <%= link_to t("button.edit"), edit_user_review_path(current_user, review),
                      class: "btn btn-success", data: {turbolinks: false} %>
                    <%= link_to t("button.delete"), user_review_path(current_user, review),
                      method: :delete, data: {confirm: t("button.confirm"), turbolinks: false},
                      class: "btn btn-danger" %>
                  <% end %>
                </div><hr>
              <% end %>
              <%= link_to user_all_reviews_path(@user), class: "all-comment",
                data: {turbolinks: false} do %>
                <%=  t "user.all_reviews" %>
                <span class="fa fa-angle-double-right"></span>
              <% end %>
            <% else %>
              <% if user_signed_in? && current_user.id == @user.id %>
                <%= t "users.show.no_review" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="widget article userLists">
        <h2 class="text-left"><%= t "user.favorites" %></h2><hr>
        <div class="text-right bootstrap-pagination">
          <%= paginate @bookmarks, theme: "twitter-bootstrap-3" %>
        </div>
        <%= render "bookmark", bookmarks: @bookmarks, user: @user %>
      </div>
    </div>
  </div>
</div>
<br>
