<% provide(:title, @user.username) %>
<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <%= image_tag @user.avatar, class: "img-responsive" %>
      </div>
      <div class="profile-user-title">
        <div class="profile-user-name">
          <%= @user.name %>
        </div>
        <div class="profile-user-job">
          <%= @user.username %>
        </div>
        <%= t "user.member" %><%= @user.created_at.strftime("%b %Y") %><br>
      </div>
	    <% if user_signed_in? && @user.id == current_user.id %>
	      <div class="text-center profile-buttons">
		      <%= link_to t("user.edit"), edit_user_registration_path, method: :get,
            class: "btn btn-success btn-sm" %>
	      </div>
	    <% end %>
	    <div class="profile-user-menu">
        <ul class="nav">
          <li class="active">
            <%= link_to "#" do %>
              <i class="glyphicon glyphicon-home"></i> <%= t "user.reviews" %>
            <% end %>
          </li>
          <li>
	          <%= link_to "#" do %>
              <i class="glyphicon glyphicon-heart"></i> <%= t "user.favorites" %>
	          <% end %>
          </li>
          <li>
	          <%= link_to "#" do %>
              <i class="glyphicon glyphicon-flag"></i> <%= t "user.histories" %>
	          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
      <div class="widget article userLists">
        <%= render "users/reviews.html.erb", reviews: @reviews %>
        <hr><%= link_to "View all reviews", user_all_reviews_path(@user) %>
      </div>
      <div class="widget article userLists">
        <%= render "users/bookmarks.html.erb", bookmarks: @bookmarks %>
      </div>
    </div>
  </div>
</div>
<br>
