<%= form_for [:admin, user] do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <label class="form-label"><%= t ".username" %></label>
      <span style="color: red;">*</span>
      <%= f.text_field :username, class: "form-control required" %>
    </div>
    <div class="col-sm-6">
      <label class="form-label"><%= t ".email" %></label>
      <span style="color: red;">*</span>
      <%= f.email_field :email, class: "form-control required" %>
    </div>
    <% if user.new_record? %>
      <div class="col-sm-6">
        <label class="form-label"><%= t ".password" %></label>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    <% end %>
    <div class="col-sm-6">
      <label class="form-label"><%= t ".role" %></label>
      <%= f.select :is_admin, [[t(".user"), false], [t(".admin"), true]], {},
        {class: "form-control"} %>
    </div>
  </div><br>
  <div class="text-center col-xs-12">
    <% if user.new_record? %>
      <%= f.submit class: "btn btn-info add-book" %>
      <%= f.submit t("button.clear"), type: :reset, class: "btn btn-danger" %>
    <% else %>
      <%= f.submit class: "btn btn-success"%>
      <%= f.submit t("button.clear"), type: :reset, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
