<%= form_for review do |f| %>
  <%= f.label t ".form_title" %>
  <%= f.select :movie_id, movies,
    {include_blank: t(".choose_movie")}, {class: "form-control"} %>
  <%= f.label :title %><span style="color: red;"> *</span><br/>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.label :content %><br/>
  <%= f.text_area :content, class: "form-control" %>
  <% if review.new_record? %>
    <%= f.submit class: "btn btn-info add-book" %>
  <% else %>
    <%= f.submit class:"btn btn-success"%>
  <% end %>
<% end %>
