<div class="movie-information row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 movie-infos">
    <div class="movie-image col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="<%= review.movie.avatar.thumb.url %>" alt="" id="share_image">
    </div>

    <div class="movie-casting col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1 class="title-font">
        <%= link_to review.movie.name, movie_path(review.movie),
          data: {turbolinks: false} %>
      </h1>
      <span class="movie-time">
        <%= review.movie.realease_date.strftime("%d %b %Y") %>
      </span><br>

      <table data-toggle="table" class="movie-info">
        <tbody>
        <tr>
          <td>
            <span class="movie-data title-font">
              <%= t "movies.show.average_rate" %>:
            </span>
          </td>
          <td>
            <span class="movie-data casting"></span>
            <span></span>
            <% if author_rate(review.movie, review.user) > 0 %>
              <span class="movie-rating movie-data average-rate star-rating"
                data-score="<%= author_rate(review.movie, review.user) %>">
                (<%= author_rate(review.movie, review.user).round(1) %>)
              </span>
            <% else %>
              <span class="movie-rating"><%= t "movies.show.not_rate" %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="movie-data title-font"><%= t "reviews.show.imdb" %>:</span>
          </td>
          <td>
            <span class="movie-data casting movie-score">
              <%= review.movie.imdb %>
            </span>
          </td>
        </tr>
        <tr>
          <td><span class="movie-data title-font">
            <%= t "reviews.show.cast" %>:</span>
          </td>
          <td>
            <% review.movie.actors.each do |actor| %>
              <span class="movie-data casting">
                <%= link_to actor.name, actor_path(actor),
                  data: {turbolinks: false} %>
                <% unless actor == review.movie.actors.last %>,<% end %>
              </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <span class="movie-data title-font">
              <%= t "reviews.show.director" %>:
            </span>
          </td>
          <td>
            <span class="movie-data casting">
              <%= review.movie.director %>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="movie-data title-font">
              <%= t "reviews.show.producer" %>:
            </span>
          </td>
          <td>
            <span class="movie-data casting">
              <%= review.movie.producer %>
            </span>
          </td>
        </tr>
        <tr>
          <td><span class="movie-data title-font">
            <%= t "reviews.show.genre" %>:</span>
          </td>
          <td>
            <span class="movie-data casting">
            <% if review.movie.types.any? %>
              <% review.movie.types.each do |type| %>
                <%= link_to type.name, type_path(type), data: {turbolinks: false} %>
                <% unless type == review.movie.types.last %>/<% end %>
              <% end %>
            <% end %>
          </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="movie-data title-font">
              <%= t "reviews.show.country" %>:
            </span>
          </td>
          <td>
            <span class="movie-data casting">
              <%= image_tag review.movie.country.flag_image.flag.url, class: "flag" %>
            </span>
            <span class="movie-data casting">
              &nbsp;<%= review.movie.country.name %>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mrB10 clear-fix">
        <%= link_to new_review_path(movie_id: review.movie.id),
          class: "review-btn", data: {turbolinks: false} do %>
          <%= t "reviews.show.review_movie" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
