<div class="movie-information row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="movie-image col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="<%= review.movie.avatar %>" alt="">
    </div>

    <div class="movie-casting col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <h1><%= review.movie.name %><i></i></h1>
      <span class="movie-time">
        <%= review.movie.realease_date.strftime("%d %b %Y") %>
      </span>

      <table data-toggle="table" class="movie-info">
        <tbody>
        <tr>
          <td><span class="movie-data"><%= t "reviews.show.cast" %>:</span></td>
          <td>
            <% review.movie.actors.each do |actor| %>
              <span class="movie-data casting">
                <%= link_to actor.name, actor_path(actor), "data-turbolinks": false %>
                <% unless actor == review.movie.actors.last %>,<% end %>
              </span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><span class="movie-data"><%= t "reviews.show.director" %>:</span></td>
          <td><span class="movie-data casting"><%= review.movie.director %></span></td>
        </tr>
        <tr>
          <td><span class="movie-data"><%= t "reviews.show.producer" %>:</span></td>
          <td><span class="movie-data casting"><%= review.movie.producer %></span></td>
        </tr>
        <tr>
          <td><span class="movie-data"><%= t "reviews.show.genre" %>:</span></td>
          <td>
            <span class="movie-data casting">
            <% if review.movie.types.any? %>
              <% review.movie.types.each do |type| %>
                <a href="#"><%= type.name %></a>
                  <% unless type == review.movie.types.last %>/<% end %>
              <% end %>
            <% end %>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="mrB10 clearfix">
        <%= link_to new_review_path(movie_id: review.movie.id), class: "review-btn",
          "data-turbolinks": false do %>
          <%= t "reviews.show.review_movie" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
