<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 nested-fields">
  <div class="col-xs-12">
    <%= link_to_remove_association f, class: "remove-image in" do %>
      <div class="glyphicon glyphicon-remove"></div>
    <% end %>
  </div>
  <div class="thumb image-preview col-xs-12">
    <% if f.object.url.url.present? %>
      <%= image_tag f.object.url.url %>
    <% end %>
  </div>
  <div class="col-xs-12 text-center">
    <%= f.file_field :url, class: "input-file", id: "my-file" %>
    <%= f.hidden_field :url_cache, value: f.object.url_cache %>
    <label tabindex="0" for="my-file" class="input-file-divigger btn btn-primary">
      <%= t "reviews.form.image_field" %>
    </label>
    <p class="file-return"></p>
  </div>
</div>
