<div class="trending-review">
  <div class="sidebar-header">
    <span><%= t "reviews.show.popular" %></span>
  </div>

  <div class="sidebar-body">
    <% top_reviews.each do |review| %>
      <div class="bp-block article-info col-xs-12">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-4 article-list-left cover">
          <%= image_tag review.movie.avatar, alt: review.movie.name %>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-8 top-review-content">
          <h4 class="trending-title title-font">
            <%= link_to review_path(review), "data-turbolinks": false do %>
              <%= review.title %>
            <% end %>
          </h4>
          <p class="author-small">By
            <%= link_to user_path(review.user), "data-turbolinks": false do %>
              <%= review.user.name %>
            <% end %>
          </p>
          <p class="trending-content">
            <%= truncate_html(review.content, length: 200) %>
          </p>
        </div>
      </div>
    <% end %>

    <div class="sidebar-footer">
      <span>
        <%= link_to root_path, "data-turbolinks": false do %>
          <%= t "reviews.show.more_review" %> &gt;
        <% end %>
      </span>
    </div>
  </div>
</div>
