<div class="trending-review hidden-sm hidden-xs">
  <% if review.related_reviews.present? %>
    <div class="sidebar-header">
      <span><%= t "reviews.show.other" %></span>
    </div>

    <div class="sidebar-body">
      <% review.related_reviews.each do |review| %>
        <div class="bp-block article-info col-xs-12">
          <div class="col-md-4 col-lg-4 article-list-left cover">
            <%= image_tag review.movie.avatar.thumb.url, alt: review.movie.name,
              class: "img-responsive" %>
          </div>
          <div class="col-md-8 col-lg-8 top-review-content">
            <h4 class="trending-title title-font">
              <%= link_to review_path(review), data: {turbolinks: false} do %>
                <%= review.title %>
              <% end %>
            </h4>
            <p class="author-small">
              <%= t "reviews.index.reviewer" %>
              <% if review.user.is_admin? %>
                <span class="admin-reviewer"><%= t "app_name" %></span>
              <% else %>
                <%= link_to review.user.name, user_path(review.user),
                  data: {turbolinks: false} %>
              <% end %>
            </p>
            <p style="color: darkgrey; font-size: 13px">
              <%= review.created_at.strftime("%d %B %Y") %>
            </p>
            <span class="trending-content hidden-lg">
              <%= truncate_html(review.content, length: 50) %>
            </span>
            <span class="trending-content hidden-md">
              <%= truncate_html(review.content, length: 100) %>
            </span>
          </div>
        </div>
      <% end %>

      <div class="sidebar-footer">
        <span>
          <%= link_to reviews_path, data: {turbolinks: false} do %>
            <%= t "reviews.show.more_review" %>
            <span class="fa fa-angle-double-right"></span>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<div class="trending-review hidden-sm hidden-xs">
  <div class="sidebar-header">
    <span><%= t "reviews.show.popular" %></span>
  </div>

  <div class="sidebar-body">
    <% top_reviews.each do |review| %>
      <div class="bp-block article-info col-xs-12">
        <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 article-list-left cover">
          <%= image_tag review.movie.avatar.thumb.url, alt: review.movie.name,
            class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 top-review-content">
          <h4 class="trending-title title-font">
            <%= link_to review_path(review), data: {turbolinks: false} do %>
              <%= review.title %>
            <% end %>
          </h4>
          <p class="author-small">
            <%= t "reviews.index.reviewer" %>
            <% if review.user.is_admin? %>
              <span class="admin-reviewer"><%= t "app_name" %></span>
            <% else %>
              <%= link_to review.user.name, user_path(review.user),
                data: {turbolinks: false} %>
            <% end %>
          </p>
          <p style="color: darkgrey; font-size: 13px">
            <%= review.created_at.strftime("%d %B %Y") %>
          </p>
          <span class="trending-content hidden-lg">
            <%= truncate_html(review.content, length: 50) %>
          </span>
          <span class="trending-content hidden-md">
            <%= truncate_html(review.content, length: 100) %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="sidebar-footer">
      <span>
        <%= link_to reviews_path, data: {turbolinks: false} do %>
          <%= t "reviews.show.more_review" %>
          <span class="fa fa-angle-double-right"></span>
        <% end %>
      </span>
    </div>
  </div>
</div>
