<% provide(:title, t("user.reviews")) %>
<div class="row">
  <ul class="breadcrumb">
    <li><%= link_to t("user.home"), root_path, data: {turbolinks: false} %></li>
    <li class="active"><%= link_to t("user.reviews"), reviews_path,
      data: {turbolinks: false} %></li>
  </ul>
  <div class="col-sm-8 col-xs-12">
    <% if @support.reviews_search.any? %>
      <% @support.reviews_search.each do |review| %>
        <div class="line4">
          <div class="date_section">
            <span class="day"><%= review.created_at.strftime("%d") %></span>
            <span class="month"><%= review.created_at.strftime("%b") %></span>
          </div>
          <div class="box2">
            <div class="review-items">
              <p class="txt8 title-font">
                <%= link_to review_path(review), data: {turbolinks: false} do %>
                  <%= review.title %>
                <% end %>
              </p>
              <div class="entry-meta">
                <span class="posted-by">
                  <%= t ".reviewer" %>
                  <% if review.user.is_admin? %>
                    <span class="admin-reviewer"><%= t "app_name" %></span>
                  <% else %>
                    <%= link_to review.user.name, user_path(review.user),
                      data: {turbolinks: false} %>
                  <% end %>
                </span>
                <span class="post-time">
                  <p class="glyphicon glyphicon-time"></p>
                  <%= review.created_at.strftime("%d %b %Y") %>
                </span>
                <span class="post-comments">
                  <i class="fa fa-comments fa-md" aria-hidden="true"></i>
                  <%= review.comments.count %>
                </span>
                <span class="post-comments">
                  <i class="fa fa-thumbs-o-up fa-md" aria-hidden="true"></i>
                  <%= review.get_likes.size %>
                </span>
              </div>
            </div>
            <div class="movie-image row">
              <img src="<%= review.movie.avatar.thumb.url %>" class="img7">
            </div><br>
            <div class="row txt9">
              <%= truncate_html(review.content, length: 300) %>
            </div>
            <%= link_to review_path(review), class: "more-link" do %>
              <%= t ".more_link" %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="text-center review-pagination">
        <%= paginate @support.reviews_search %>
      </div>
    <% else %>
      <%= t ".no_review" %>
    <% end %>
  </div>

  <div class="col-sm-4 hidden-xs reviews-list">
    <div class="title-box1">
      <h3><%= t ".search" %></h3>
    </div>
    <%= search_form_for @support.search, id: :search2, method: :get do |f| %>
      <%= f.text_field :title_or_content_cont, placeholder: t(".keyword") %>
      <%= button_tag "", type: :submit, name: :commit, class: "more_btn2" %>
    <% end %><br><br>
    <div class="title-box1 v2">
      <h3><%= t ".recent_reviews" %></h3>
    </div>
    <% if @support.recent_reviews.any? %>
      <% @support.recent_reviews.each do |review| %>
        <div class="marTop1">
          <img src="<%= review.movie.avatar.small.url %>" class="img6 no_resize">
          <div class="box2">
            <p class="txt7 title-font">
              <%= link_to review.title, review_path(review), class: "link3",
                data: {turbolinks: false} %>
            </p>
            <span class="hidden-md hidden-lg">
              <span><%= truncate_html(review.content, length: 30) %></span>
            </span>
            <span class="hidden-sm">
              <span><%= truncate_html(review.content, length: 100) %></span>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
