<div class="row">
  <div class="col-xs-4 movie-data">
    <div class="movie-poster">
      <img title="<%= @review.movie.name %>" alt="<%= @review.movie.name %>"
        src="<%= @review.movie.avatar %>">
    </div>
    <div class="movie-details">
      <h2><%= @review.movie.name %></h2>
      <div class="movie-types">
        <% if @review.movie.types.any? %>
          <% @review.movie.types.each do |type| %>
            <a href="#"><%= type.name %></a>
            <% unless type == @review.movie.types.last %>,<% end %>
          <% end %>
        <% end %>
      </div> |
      <p><%= @review.movie.realease_date.strftime("%d %b %Y") %></p>
      <section class="details">
        <h5>Cast</h5>
        <ul>
          <li>
            <a href="#"><span></span></a>
          </li>
        </ul>
        <h5>Director</h5>
        <ul>
          <li>
            <a href="#"><%= @review.movie.director %></a>
          </li>
        </ul>
        <h5>Producer</h5>
        <ul>
          <li><a href="#"><%= @review.movie.producer %></a></li>
        </ul>
        <h5>Country</h5>
        <ul>
          <li><a href="#"><%= @review.movie.country.name %></a></li>
        </ul>
      </section>
    </div>
  </div>
  <div class="col-xs-8">
    <div class="title_bar_wrapper">
<!--       <div class="ratings_wrapper">
        <div class="imdbRating">
          <div class="ratingValue">
            <strong>
              <span itemprop="ratingValue">9.3</span>
            </strong>
            <span class="grey">/</span>
            <span class="grey" itemprop="bestRating">10</span>
          </div>
          <span class="small" itemprop="ratingCount">1,858,929</span>
        </div>
      </div> -->
      <div class="titleBar">
        <div class="primary_ribbon">
          <div class="ribbonize">
            <img src="http://simpleicon.com/wp-content/uploads/bookmark.png">
            <div class="wl-ribbon standalone not-inWL" title="Click to add to watchlist"></div>
          </div>
        </div>
        <div class="title_wrapper">
          <h1><%= @review.movie.name %>
            <span class="titleYear">(<%= @review.movie.realease_date.strftime("%Y") %>)</span>
          </h1>
        </div>
      </div>
    </div>
    <p class="byline">
      <span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
        <span class="star-rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
      </span>&nbsp;|&nbsp;
      <a href="#">
        <span><%= @review.user.email %></span>
      </a>
    </p>
    <section>
      <time><%= @review.created_at.strftime("%d %b %Y") %></time>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a class="comments">
        <i class="fa fa-comment"></i> <%= @review.comments.count %>
      </a>
    </section>
    <div class="article-header">
      <h3><%= @review.title %></h3>
    </div>
    <div class="article-body">
      <%= @review.content.html_safe %>
    </div>
  </div>
</div>
