<% provide(:title, @review.movie.name + " Review") %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 review-details">
    <div class="review-movie">
      <div class="title_bar_wrapper">
        <div class="titleBar">
          <div class="title_wrapper">
            <h2 class="review-title title-font" id="title">
              <span>[<%= t "user.review" %>]</span>
              <%= @review.movie.name %>
              (<%= @review.movie.realease_date.strftime("%Y") %>):
              <%= @review.title %>
            </h2>
          </div>
        </div>
      </div>
      <div class="byline">
        <span class="author-bold title-font"><%= t ".author" %></span>
        <span class="author-bold" style="font-size: 20px">
          <%= link_to @review.user.name, user_path(@review.user),
            data: {turbolinks: false} %>
        </span><br>
        <span class="author-bold title-font"><%= t ".author_rate" %>:</span>
        <% if author_rate(@review.movie, @review.user) > 0 %>
          <span class="average-rate rating-xs rating-active"
            data-score="<%= author_rate(@review.movie, @review.user) %>"></span>
          <span class="star-rating">
            (<%= author_rate(@review.movie, @review.user).round(1) %>)
          </span>
        <% else %>
          <span class="star-rating"><%= t "movies.show.not_rate" %></span>
        <% end %><br>
        <time class="title-font">
          <svg width="16" height="16" viewBox="0 0 11 11" class="inline-clock__svg inline-icon__svg">
            <path d="M5.4 0C2.4 0 0 2.4 0 5.4s2.4 5.4 5.4 5.4 5.4-2.4 5.4-5.4S8.4 0 5.4 0zm3 6.8H4.7V1.7h.7L6 5.4l2.4.6v.8z"></path>
          </svg>
          <%= @review.created_at.strftime("%d %b %Y") %>
        </time>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <i class="iconFacebook fa fa-comments fa-md" aria-hidden="true"></i>
        <time class="title-font"><%= @review.comments.count %></time>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span id="likes">
          <i class="iconFacebook fa fa-thumbs-o-up fa-md" aria-hidden="true"></i>
          <span class="votes-count title-font" data-id="<%= @review.id %>" style="color: grey;">
            <%= @review.get_likes.size %>
          </span><br>
          <% if user_signed_in? %>
            <% if current_user.liked? @review %>
              <span>
                <%= link_to dislike_review_path(@review), class: 'vote',
                  method: :put, remote: true do %>
                  <span id="unlikeBtn" class="btn clear-fix">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <%= t ".unlike" %>
                  </span>
                <% end %>
              </span>
            <% else %>
              <span>
                <%= link_to like_review_path(@review), class: 'vote',
                  method: :put, remote: true do %>
                  <span id="likeBtn" class="btn clear-fix"><%= t ".like" %></span>
                <% end %>
              </span>
            <% end %>
          <% else %>
            <span id="like-login" class="btn clear-fix"><%= t ".like" %></span>
          <% end %>
        </span>
        <span id="shareBtn" class="btn clear-fix"><%= t "home.share" %></span><br><br>
      </div>
      <!--<div class="fb-like" data-width="450" data-share="false"-->
        <!--data-show-faces="true" data-href="http://movieforyou-hienvu.c9users.io"-->
        <!--data-layout="button_count" data-action="like" data-size="small">-->
      <!--</div>-->

      <!-- content area -->
      <ul class="movie-item-listing title-font">
        <li class="tab-live">
          <p><%= t ".movie_info" %><span></span></p>
        </li>
      </ul>
      <%= render "movie_info", review: @review %>
    </div>
    <div class="article-body">
      <ul class="movie-item-listing title-font">
        <li class="tab-live">
          <p><%= t "user.review" %><span></span></p>
        </li>
      </ul>
      <div class="review-content">
        <%= @review.content.html_safe %>
      </div>
    </div><br><br>

    <!-- image area -->
    <ul class="movie-item-listing title-font">
      <li class="tab-live">
        <p><%= t ".gallery" %><span></span></p>
      </li>
    </ul><br>

    <div class="outer-container">
      <div class="review-photos">
        <% if @review.photos.any? %>
          <% @review.photos.each do |photo| %>
              <div class="photo-item">
                <%= image_tag photo.url, title: @review.title %>
              </div>
          <% end %>
        <% else %>
          <p style="font-size: 18px"><%= t ".no_image" %></p>
        <% end %>
      </div>
      <div>
        <button class="prev CarouselButton CarouselButton__left">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
            style="fill: currentcolor; vertical-align: middle; width: 24px; height: 24px;">
            <g>
              <path d="M15.41 7.41l-1.41-1.41-6 6 6 6 1.41-1.41-4.58-4.59z"></path>
            </g>
          </svg>
        </button>
        <button class="next CarouselButton CarouselButton__right">
          <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet"
            style="fill: currentcolor; vertical-align: middle; width: 24px; height: 24px;">
            <g>
              <path d="M10 6l-1.41 1.41 4.58 4.59-4.58 4.59 1.41 1.41 6-6z"></path>
            </g>
          </svg>
        </button>
      </div>
    </div>
    <hr>

    <!-- comment area -->
    <h2 class="comments-title title-font"><%= t ".comments" %></h2>
    <% if user_signed_in? %>
      <%= render "comments/form", review: @review, comment: @support.new_comment %>
      <div id="comments" class="comments-part">
        <%= render "comments/comments", review: @review, comments: @support.comments %>
      </div>
    <% else %>
      <h3>
        <%= t ".to_comment" %>
        <%= link_to t("user.login"), user_session_path,
        data: {turbolinks: false} %>
        <%= t "movies.show.login_require" %>
      </h3>
    <% end %><br>
    <div class="text-center">
      <div class="fb-comments" data-href="http://movieforyou-hienvu.c9users.io"
        data-numposts="5"></div>
    </div>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-4 top-review">
    <%= render "trending_review", top_reviews: @support.top_reviews, review: @review %>
  </div>
</div>
