<% provide(:title, @review.movie.name + " Review") %>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="title_bar_wrapper">
      <div class="titleBar">
        <div class="primary_ribbon">
          <div class="ribbonize">
            <img src="http://simpleicon.com/wp-content/uploads/bookmark.png">
            <div class="wl-ribbon standalone not-inWL" title="<%= t ".add_bookmark" %>"></div>
          </div>
        </div>
        <div class="title_wrapper">
          <h2>
            <span>[<%= t "user.review" %>]</span>
            <%= @review.movie.name %>
            (<%= @review.movie.realease_date.strftime("%Y") %>):
            <%= @review.title %>
          </h2>
        </div>
      </div>
    </div>
    <div class="byline">
      <span class="star-rating">
        <% 5.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      </span>&nbsp;&nbsp;|&nbsp;&nbsp;
      <i class="fa fa-comment"></i> <%= @review.comments.count %><br>
      <span class="author-bold"><%= t ".author" %></span>
      <span class="author-bold">
        <%= link_to @review.user.name, user_path(@review.user), "data-turbolinks": false %>
      </span><br>
      <time><%= @review.created_at.strftime("%d %b %Y") %></time>
    </div>
    <div
      class="fb-like" data-width="450" data-share="true"
      data-show-faces="true" data-href="http://movieforyou-hienvu.c9users.io"
      data-layout="button_count" data-action="like" data-size="small"
      data-show-faces="true">
    </div><br><br>
	  <%= render "movie_info", review: @review %>

    <div class="article-body">
	    <%= @review.content.html_safe %>
    </div>
	  <hr>

    <div id="comments" class="comments-part">
	    <h2><%= t ".comments" %></h2>
	    <%= render "comments/comments", review: @review, comments: @comments %>
    </div>
    <br>
    <% if user_signed_in? %>
      <%= render "comments/form", review: @review, comment: @comment %>
    <% else %>
      Please <%= link_to t("user.login"), user_session_path,
        "data-turbolinks": false %> to comment.
    <% end %>
    <div class="fb-comments" data-href="http://movieforyou-hienvu.c9users.io" data-numposts="5"></div>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 top-review">
    <%= render "trending_review", top_reviews: @top_reviews %>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=1778167635845888";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
