<li>
  <%= link_to new_review_path, class: "dropbtn", data: {turbolinks: false} do %>
    <i class="fa fa-pencil-square-o fa-md" aria-hidden="true"></i>
    <%= t "user.write_review" %>
  <% end %>
</li>
<li class="pmd-navbar-right-icon pmd-dropdown notifications">
  <a href="javascript:void(0)" title="<%= t "notifications.notifications" %>"
     class="dropdown-toggle pmd-ripple-effect btn-user"
     data-toggle="dropdown" role="button" aria-expanded="true">
    <span class="fa fa-bell-o"></span>
    <div class="badge badge-info notification-counter">
      <%= current_user.not_read_notifications_count %>
    </div>
  </a>
  <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth"
    role="menu">
    <div class="pmd-card-title">
      <div class="media-body media-middle">
        <h3 class="pmd-card-title-text">
          <strong><%= t "notifications.notifications" %></strong>
        </h3>
      </div>
    </div>

    <ul class="list-group pmd-list-avatar pmd-card-list" id="list-notifications">
      <% my_notifications.each do |notification| %>
        <li class="list-group-item row notify <%= "unread" if notification.isRead? %>"
          id="<%= notification.id %>">
          <%= link_to notification.link_to, data: {turbolinks: false} do %>
            <%= notification.content.html_safe %><br>
          <% end %>
          <p><%= time_ago_in_words notification.created_at %>
	          <%= t "notifications.ago" %></p>
        </li>
      <% end %>
    </ul>
	  <h3 class="pmd-card-title-text text-center">
      <%= link_to t("notifications.see_all"), notifications_path %>
	  </h3>
  </div>
</li>
<li class="dropdown">
  <%= link_to user_path(current_user), method: :get, data: {turbolinks: false} do %>
    <i class="fa fa-user-o" aria-hidden="true"></i>
  <% end %>
  <div class="user-nav row">
    <ul class="nav dropdown-content dropdown-menu-right">
      <li class="popover_menu_item popover_menu_item_blog
        popover_menu_item_blog--uncloseable popover_menu_item_blog--open">
        <div class="blog-list-item blog-list-item--on-light">
          <%= link_to user_path(current_user), class:"blog-list-item-anchor",
            data: {turbolinks: false} do %>
            <span class="blog-list-item-avatar">
              <%= image_tag current_user.avatar, class:"blog-list-item-image" %>
            </span>
            <span class="blog-list-item-info">
              <span class="blog-list-item-info-name">
                <%= current_user.name %>
              </span><br>
              <span class="blog-list-item-info-title">
                <%= current_user.username %>
              </span>
            </span>
          <% end %>
        </div>
        <hr class="horizon">
        <% if current_user.is_admin? %>
          <%= link_to t("layouts.header.admin"), admin_root_path,
            data: {turbolinks: false},
            style: "font-weight: bold", class: "admin-btn" %>
        <% end %>
        <hr class="horizon">
        <div class="blog-sub-nav-item">
          <%= link_to user_path(current_user), class:"blog-sub-nav-item-link",
            data: {turbolinks: false} do %>
            <div class="blog-sub-nav-item-label"><%= t "user.reviews" %></div>
            <div class="blog-sub-nav-item-data">
              <%= current_user.reviews.count %>
            </div>
          <% end %>
        </div>
        <div class="blog-sub-nav-item">
          <a href="#" class="blog-sub-nav-item-link">
            <div class="blog-sub-nav-item-label"><%= t "user.favorites" %></div>
            <div class="blog-sub-nav-item-data">
              <%= current_user.bookmarks.count %>
            </div>
          </a>
        </div>
      </li>
      <li class="profile-link">
        <%= link_to edit_user_registration_path, method: :get,
          data: {turbolinks: false} do %>
          <i class="fa fa-cog" aria-hidden="true"></i> <%= t "user.settings" %>
        <% end %>
      </li>
      <li class="profile-link">
        <%= link_to destroy_user_session_path, method: :delete,
          data: {turbolinks: false} do %>
          <i class="fa fa-sign-out" aria-hidden="true"></i> <%= t "user.sign_out" %>
        <% end %>
      </li>
    </ul>
  </div>
</li>
