<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ibookx</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Movie", movies_path %></li>
      <li><%= link_to "Review", reviews_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%= render "layouts/header_user.html.erb" %>
      <% else %>
        <li>
          <%= link_to new_user_registration_path, method: :get do %>
            <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
        </li>
        <li>
          <%= link_to user_session_path, method: :get do %>
            <span class="glyphicon glyphicon-log-in"></span> Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
