<header class="hidden-xs">
  <div class="container">
    <div class="row">
      <div class="grid_12">
          <div class="col-md-8" style="">
            <%= link_to root_path do %>
              <img src="https://www.mehrnegaar.com/Images/Icon/vid.png"
                width="100" class="col-md-3">
              <div class="col-md-8">
                <h1><%= t "home.title" %></h1>
                <span><%= t "home.subtit" %></span>
              </div>
            <% end %>
          </div>

          <form id="search1" class="col-xs-4">
            <input type="text" name="s" value="" onfocus="myFocus(this);" onblur="myBlur(this);">
            <a onclick="document.getElementById('search1').submit()" class="more_btn3"></a>
          </form>
          
        </div>
    </div>
  </div>
</header>
<nav class="navbar navbar-inverse">
  <div class="aainer-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="mega-menu-1">
        <li>
          <%= link_to root_path, "data-turbolinks": false do %>
            <span class="glyphicon glyphicon-home"></span>
            <!--<= t "user.home" %>-->
          <% end %>
        </li>
        <li class="dropdown">
          <%= link_to movies_path, "data-turbolinks": false do %>
            <!--<span class="glyphicon glyphicon-film"></span>-->
            <%= t "user.movies" %>
          <% end %>
        </li>
        <li>
          <%= link_to reviews_path, "data-turbolinks": false do %>
            <!--<span class="glyphicon glyphicon-star"></span>-->
            <%= t "user.reviews" %>
          <% end %>
        </li>
        <li>
          <%= link_to about_path, "data-turbolinks": false do %>
            <span class="glyphicon glyphicon"></span>
            <%= t "home.about" %>
          <% end %>
        </li>
        <li>
          <%= link_to contact_path, "data-turbolinks": false do %>
            <span class="glyphicon glyphicon"></span>
            <%= t "home.contact" %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render "layouts/header_user.html.erb" %>
        <% else %>
          <li>
            <%= link_to new_user_registration_path, method: :get, "data-turbolinks": false do %>
              <span class="glyphicon glyphicon-user"></span> <%= t "user.sign_up" %>
            <% end %>
          </li>
          <li>
            <%= link_to user_session_path, method: :get, "data-turbolinks": false do %>
              <span class="glyphicon glyphicon-log-in"></span> <%= t "user.login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
