<nav class="navbar navbar-inverse navbar-fixed-top language-nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <img src="http://squaducation.com/sites/default/files/1.jpg" width="30" height="20">
        <%= link_to t("home.english"), "http://localhost.com:3000#{request.env['PATH_INFO']}", data: {turbolinks: false} %>
      </li>
      <li>
        <img src="https://www.iaea.org/sites/default/files/images/2013/08/japan-flag-330x220.jpg" width="30" height="20">
        <%= link_to t("home.japanese"), "http://localhost.jp:3000#{request.env['PATH_INFO']}", data: {turbolinks: false} %>
      </li>
    </ul>
  </div>
</nav><br>
<header>
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="col-sm-8 hidden-xs">
          <%= link_to root_path do %>
            <img src="https://www.mehrnegaar.com/Images/Icon/vid.png"
              width="100" class="col-sm-3">
            <div class="col-sm-8">
              <h1><%= t "home.title" %></h1>
              <span><%= t "home.subtit" %></span>
            </div>
          <% end %>
        </div>

        <%= form_tag search_path, method: :get,
          class: "col-sm-4 search1 col-xs-12", id: "live-search_form" do %>
            <%= text_field_tag :search, params[:search],
              class: "form-control dropdown-toggle",
              placeholder: t("home.content_search"),
              data: {toggle: :dropdown}, "aria-hidden": :true,
              autocomplete: :off, required: true, id: "live-search_input" %>
            <ul class="dropdown-menu">
              <li id="live-search_dom"></li>
            </ul>
            <%= button_tag "", type: :submit, class: "more_btn3" %>
        <% end %>

      </div>
    </div>
  </div>
</header>
<div class="navbar navbar-inverse">
  <div class="aainer-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="mega-menu-1">
        <li>
          <%= link_to root_path, data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-home"></span>
            <!--<= t "user.home" %>-->
          <% end %>
        </li>
        <li class="dropdown">
          <%= link_to movies_path, class: "dropbtn",
            data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-film"></span>
            <%= t "user.movies" %>
          <% end %>
          <ul class="dropdown-content multi-column columns-2">
            <div class="row">
              <ul class="multi-column-dropdown">
                <% Type.order("name asc").each do |type| %>
                  <div class="col-sm-3">
                    <li>
                      <%= link_to t(type.name), type_path(type),
                        data: {turbolinks: false} %>
                    </li>
                  </div>
                <% end %>
              </ul>
            </div>
          </ul>
        </li>
        <li>
          <%= link_to reviews_path, data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-star"></span>
            <%= t "user.reviews" %>
          <% end %>
        </li>
        <li>
          <%= link_to about_path, data: {turbolinks: false} do %>
              <i class="fa fa-users fa-md " aria-hidden="true"></i>
            <%= t "home.about" %>
          <% end %>
        </li>
        <li>
          <%= link_to contact_path, data: {turbolinks: false} do %>
            <span class="glyphicon glyphicon-envelope"></span>
            <%= t "home.contact" %>
          <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <%= render "layouts/header_user.html.erb" %>
        <% else %>
          <li>
            <%= link_to new_user_registration_path, method: :get, data: {turbolinks: false} do %>
              <span class="glyphicon glyphicon-user"></span> <%= t "user.sign_up" %>
            <% end %>
          </li>
          <li>
            <%= link_to user_session_path, method: :get, data: {turbolinks: false} do %>
              <span class="glyphicon glyphicon-log-in"></span> <%= t "user.login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
