<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="<%= asset_path "Movie_icon.png" %>" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Roboto+Condensed" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
      rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag "admin", media: "all",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "admin/layouts/header" %>
    <%= render "admin/layouts/sidebar" %>
    <div class="pmd-sidebar-overlay"></div>
    <div id="content" class="pmd-content">
      <div class="wrapper">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
      <%= render "admin/layouts/footer" %>
    </div>
    <%= javascript_include_tag "admin", "data-turbolinks-track": "reload" %>
    <% if File.exist? Rails.root.join("app/assets/javascripts/", params[:controller] + ".js") %>
      <%= javascript_include_tag (params[:controller]), "data-turbolinks-track": "reload" %>
    <% end %>
  </body>
</html>
